main{
  display: flex;
  flex-wrap: wrap;
  width: 97vw;
  height: 96vh;
  border: solid 3px red;
  justify-content: center;
}
section{
  border: solid 3px black;
  margin: 1%;
  text-align: center;
}
.title, .timeline{
  width: 100%;
}
.config, .preview{
  width: 45%;
}
label, input{
  margin: 1%;
}
input[ type = range ]{
  width: 100%;
  margin: 0;
  display: none;
}
.currentTimePoint{
  position: relative;
  top: 0;
  width: 3px;
  height: 100%;
  background-color: red;
  cursor: ew-resize;
}